h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", serif;
  color: #2e2f42;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.nav-link:focus {
  color: #404bbf;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover {
  color: #404bbf;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  padding: 24px 0;
  display: block;
}

.nav-main-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  padding: 24px 0;
  display: block;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-main-link::after {
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.main-title {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.button:focus {
  background-color: #404bbf;
}
.button:hover {
  background-color: #404bbf;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  min-width: 169px;
  display: block;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-title {
  color: #2e2f42;
  background-color: #f4f4fd;
  font-weight: 500;
  line-height: 732;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-text {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.team-human {
  padding: 32px 0;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
  margin-bottom: 8px;
}

.portfolio-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.nav .logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.17;
  font-size: 18px;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.page-header {
  border-bottom: 1px solid #e7e9fc box-shadow 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

span {
  color: #2e2f42;
}

.peculiarities-text {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.peculiarities-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.address-link:focus {
  color: #404bbf;
}

.address-link:hover {
  color: #404bbf;
  margin-left: auto;
}

address {
  font-style: normal;
  margin-left: auto;
}

.address-link {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.third-section {
  background-color: #f4f4fd;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.page-footer .logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #4d5ae5;
}

.span-footer {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.page-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .nav {
  display: flex;
  align-items: center;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.third-section .container .team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.third-section {
  padding: 120px 0;
}

.second-section .container .peculiarities-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.second-section {
  padding: 120px 0;
}

.peculiarities-main-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.peculiarities-item {
  width: calc((100% - 72px) / 4);
}

.first-section {
  padding: 188px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bckg-image.jpg);
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.fourth-section {
  padding: 120px 0;
}

.peculiarities-box {
  display: flex;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.team-icons-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.social-media {
  width: 40px;
  height: 40px;
}

.team-icon {
  fill: #f4f4fd;
}

.team-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-footer-icon {
  fill: #f4f4fd;
}

.footer-icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-right: 80px;
}

.portfolio-item:hover .overlay {
  transform: translateY(0%);
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .social-link:hover {
  background-color: #31d0aa;
}

.page-footer .social-link:focus {
  background-color: #31d0aa;
}

.social-link:hover {
  background-color: #404bbf;
}

.social-link:focus {
  background-color: #404bbf;
}

.social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  position: absolute;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  margin-right: 120px;
}

.footer-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-sub {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-input {
  background-color: #2e2f42;
  border-radius: 4px;
  border-color: #ffffff;
  color: #ffffff;
  height: 40px;
  width: 264px;
}

.footer-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-photo {
  position: relative;
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 66, 0.4);
  display: none;
  pointer-events: none;
}

.modal-overlay .modal {
  background-color: #fcfcfc;
  border-radius: 4px;
}
